.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


$font-big: 50px;
$font-mid: 40px;
$font-small: 30px;

$font-bold: 900;
$font-thin: 400;

$color-blue: rgb(59, 86, 221);

.test {
  font-size: $font-big;
  font-weight: $font-bold;
  color: black ;
}

h2 {
  color: $color-blue;
  font-weight: $font-bold;
  font-size: $font-mid;
}

ul {
  display: grid;
  gap: 10px;
}

li {
  color: $color-blue;
  font-weight: $font-thin;
  font-size: $font-small;
}